* 
.header {
  text-align: center;
  text-transform: uppercase;
  font-family: Impact;
  font-style: oblique;
  font-size: 30px;
  padding: 32px;
  background-color: #8b099f;
  color: #fff;
  border-bottom: 4px solid #073c85;
}

